<a href="https://colab.research.google.com/github/majorquev/DBDC_202309_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_01_variables_y_tipos_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>

**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## Conociendo R

### Conociendo R de nuevo
 R es un lenguaje funcional orientado principalmente al análisis de datos. Fue desarrollado por Ross Ihaka y Robert Gentleman, cuyas iniciales de sus nombres dieron origen al nombre de este software.

Hoy existen varias maneras de ejecutar R, una de ellas es de manera local, para lo cual es posible descargar la última versión (disponible para Windows, Linux y OSX), desde el repositorio CRAN (https://cran.r-project.org/) .
Otra manera es mediante la utilización de Google Colab, los que permiten la ejecución de R de manera remota, sin la necesidad de instalar R.

En un notebook podemos añadir info.
Podemos editar esto...

# Puedo añadir otro  título
## Subtítulo
### Etc..

Generar listas

   * Hola
   * Otra opción
   * opcion 2

Código en latex $\sum\limits_{i=1}^n x_i$ $\lim_{x \rightarrow 1}$


crear tablas en formato Markdown

  |col1|col2|
  |----|----|
  |1|2|
  |2|3|

In [ ]:
#cualquier cosa

1+2

[1] 3

Texto

## 1. R... Una gran calculadora

En R es posible ejecutar directamente en consola sentencias aritméticas simples, junto con la evaluación de una gran cantidad de funciones disponibles por defecto.

    - + , -, /,* ,^ , %%, %*%.
    - Logaritmo natural: log()
    - Funciones trigonométricas: sin() , cos(), tan(), asin() ,acos(), atan()
    - Función exponencial: exp()
    - Raiz cuadrada: sqrt().
    - Valor absoluto: abs()
    - parte entera: floor()
    - Truncar: trunc()
    - Redondear: round(,)
    - Factorial: factorial()
    - Número combinatorio: choose(n,k)

In [1]:
# En estas celdas pueden ejecutar código R. Las líneas que comiencen con '#' corresponden a comentarios y por ende no son ejecutables
# Shift + Enter : ejecuta el código de la celda y pasan a la celda siguiente.
floor(3.9) * sin(45) + abs(log(0.1))

[1] 4.855296

## 2. Variables y tipos de datos

En R es posible distintos tipos de datos u objetos en símbolos llamados variables (en R todo es en esencia un objeto).<br>
La manera más sencilla de asignar un objeto a una variable es mediante la función "<-". Los tipos de datos más utilizados en R corresponden a :
    
    integer   
    double  
    logical   
    character
    factor  
    date

A diferencia de otros lenguajes de programación, no es necesario declarar explicitamente el tipo de dato que almacenará una variable (R es inteligente!)

In [4]:
# Podemos definir distintas variables
a <- 4

In [6]:
a

[1] 4

In [7]:
# strings(character)
A <- "Hola"

In [8]:
a
A

[1] 4

[1] "Hola"

In [9]:
# valores lógicos (logical)
verdad <- TRUE # También puede utilizarse T
falso <- FALSE # También puede utilizarse F

In [11]:
verdad & falso # y
verdad | falso # o

[1] FALSE

[1] TRUE

In [14]:
# Podemos comparar la igualdad lógica entre dos valores mendiante "=="

"Hola" == "Hola"
1+1 == 2
1+1 == 3

[1] TRUE

[1] TRUE

[1] FALSE

In [16]:
# Podemos evaluar la no igualdad con "!=" (es distinto de)
3 != 3
3 != 2

[1] FALSE

[1] TRUE

In [19]:
(T & F) | T

[1] TRUE

In [18]:
!((T & F) | T)

[1] FALSE

In [ ]:
# Podemos asignar con la flechita en los dos sentidos

In [22]:
# podemos realizar comparaciones aritméticas
 2 > -5
 2 >= 2

 -10 <= -20

[1] TRUE

[1] TRUE

[1] FALSE

In [26]:
# NOTA:valor infinito
Inf < 9999999999999999999999999999999999999999999

Inf > Inf
Inf == Inf

[1] FALSE

[1] FALSE

[1] TRUE

In [27]:
1/0

[1] Inf

In [ ]:
# conector lógicos ( & es el "y", | es el "o" )

In [28]:
a

[1] 4

In [29]:
A

[1] "Hola"

In [30]:
a <- 5.7

In [31]:
a

[1] 5.7

In [33]:
A <- 9.9
A

[1] 9.9

In [35]:
# date
no_fecha <- "2023-09-11"
no_fecha

[1] "2023-09-11"

In [38]:
# NOTA: podemos preguntarnos por la clase del dato almacenado en una variable
class(no_fecha)
class(verdad)
class(A)

[1] "character"

[1] "logical"

[1] "numeric"

In [41]:
typeof(no_fecha)
typeof(verdad)
typeof(A)

[1] "character"

[1] "logical"

[1] "double"

In [43]:
# coercionamos a clase date
no_fecha
as.Date(no_fecha)

[1] "2023-09-11"

[1] "2023-09-11"

In [44]:
fecha <- as.Date(no_fecha)

In [45]:
fecha
class(fecha)

[1] "2023-09-11"

[1] "Date"

In [46]:
?as.Date

In [52]:
#Se puede modificar uno o varios parámetros
as.Date(x = "08.31-2023", format = "%m.%d-%Y")
as.Date("08.31-2023", format = "%m.%d-%Y")
as.Date( "08.31-2023", fo = "%m.%d-%Y")
as.Date("08.31-2023", "%m.%d-%Y")

[1] "2023-08-31"

[1] "2023-08-31"

[1] "2023-08-31"

[1] "2023-08-31"

In [53]:
as.Date("%m.%d-%Y",  "08.31-2023") # Si cambiamos de orden los parametros sin explicitarlos, R no entiende.

[1] NA

In [54]:
as.Date(format = "%m.%d-%Y",  x = "08.31-2023")

[1] "2023-08-31"

In [55]:
# Observación: Inmutabilidad de variables en R.
x <- 10

In [56]:
y <- x
y

[1] 10

In [57]:
x <- 11

In [58]:
# ¿Qué valor tiene y?
y
# en R las asignaciones por defecto se realizan por valor y no por referencia.

[1] 10

In [59]:
y <- x

In [60]:
x

[1] 11

### Observación:

   1. Cada vez que se define una variable en R, esta queda almacenada en memoria. Una manera de limpiar las variables que se han definido en memoria, es a través de la función rm().
   2. Documentación de R. Cada vez que se quiera acceder a la documentación de una librería o función en particular, se puede tipear "?" o "help()".
   3. Cada vez que se define una nueva variable con el mismo nombre, esta simplemente actualiza su valor.

In [64]:
ls() # retorna un vector con los nombres de todas las variables definidas en el ambiente

[1] "a"        "falso"    "fecha"    "no_fecha" "verdad"   "x"        "y"

In [61]:
A

[1] 9.9

In [62]:
# remueva algunas de las variables generadas anteriormente
rm(A)

In [63]:
A

ERROR: ignored

In [65]:
rm(list = c("falso","x","fecha"))

In [66]:
falso

ERROR: ignored

In [67]:
ls()

[1] "a"        "no_fecha" "verdad"   "y"

In [68]:
rm(list = ls())

In [69]:
ls()

character(0)

### 2.1. Missing values

En R, existen tipos de datos especiales para caracterizar la ausencia o la no definición de una variable. Los valores especiales que maneja R son NA, NaN, Inf, -Inf.

In [ ]:
# 2.1. Missing Values ------------
# Acá se explica la diferencia entre ellos y cómo reconocerlos.
NA # (Not available) NULL de SQL # BLANK de excel
NaN # (Not a number)

In [70]:
0/0

[1] NaN

In [71]:
# para identificar un valor NA o NaN podemos utilizar la función is.na
edad <- 34

In [72]:
edad == NA

[1] NA

In [74]:
edad <- NA
edad

[1] NA

In [75]:
edad == NA

[1] NA

In [76]:
NA == NA

[1] NA

In [78]:
is.na(edad)
is.na(NA)

[1] TRUE

[1] TRUE

In [81]:
is.nan(NaN)
is.nan(NA)
is.na(NaN)

[1] TRUE

[1] FALSE

[1] TRUE