<a href="https://colab.research.google.com/github/majorquev/DBDC_202309_Programacion_en_R_para_ciencia_de_datos/blob/main/Clases/C1/Clase_1_02_vectores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Parte 1: Introducción a R (continuación)

**Autor:** Miguel Jorquera Viguera<br>
**E-mail:** majorquev@gmail.com<br>
**Ayudante:** Rodrigo Morales <br>
**E-mail ayudante:** rumorale1@gmail.com

## 3. Vectores y matrices

### 3.1 Vectores

En R, así como en la mayoría de los lenguajes de programación, uno de los objetos más usuales para almacenar información son los vectores, los que corresponden a arreglos unidimensionales que almacenan un mismo tipo de dato en cada una de sus entradas.

Todo vector en R se puede declarar con la letra "c" seguido de los elementos que lo componen entre paréntesis y separados por comas.

In [1]:
# Declaración de dos vectores
v1 <- c(1,1,2,3,5,8)
p1 <- c("hola", "soy ", "miguel")

In [2]:
# clase y tipo de dato
v1
p1

[1] 1 1 2 3 5 8

[1] "hola"   "soy "   "miguel"

In [3]:
# vectores lógicos
b1 <- c(T,T,T,F,T,F)
b1

[1]  TRUE  TRUE  TRUE FALSE  TRUE FALSE

In [4]:
# Nombres de las entradas de un vector
v2 <- c("n1" = 10, "n2" = 20, "n3" = 99)
v2

n1 n2 n3
10 20 99

In [5]:
length(v2)
names(v2)

[1] 3

[1] "n1" "n2" "n3"

In [6]:
# podemos asignar los nombres a vector 1
names(p1)

NULL

In [7]:
# nombres de las entradas con la función, names()
names(p1) <- c("palabra1","palabra3","palabra3")

In [8]:
p1
names(p1)

palabra1 palabra3 palabra3
  "hola"   "soy " "miguel"

[1] "palabra1" "palabra3" "palabra3"

In [9]:
#combinar vectores
v3 <- c(v1,v2)
v3
names(v3)

                  n1 n2 n3
 1  1  2  3  5  8 10 20 99

[1] ""   ""   ""   ""   ""   ""   "n1" "n2" "n3"

In [88]:
# c : es una abreviación de "combine"
pal <- c("hola", "soy", "yo")
num <- 3:5

In [89]:
c(pal,num)

[1] "hola" "soy"  "yo"   "3"    "4"    "5"

#### 3.1.1 Acceso a los elementos de un vector

El acceso a los elementos de un vector se puede llevar acabo indicando la posición del elemento (los naturales parten en 1!), el nombre de la casilla que lo contiene, o bien mediante sentencias lógicas que retornen "TRUE" en la posición deseada.

In [11]:
v2

n1 n2 n3
10 20 99

In [12]:
# Mediante posición
v2[3]

n3
99

In [13]:
# retorna los elementos de las casillas 1  y 3 de v2
v2[c(1,3)]

n1 n3
10 99

In [14]:
#NOTA 3:6, R lo interpreta como c(3,4,5,6)
v1[c(3,4,5,6)]
v1[3:6]

[1] 2 3 5 8

[1] 2 3 5 8

In [15]:
3:6

[1] 3 4 5 6

In [16]:
# podemos acceder a los elmentos mediante el nombre
v2["n2"]

n2
20

In [17]:
# Quiero las casillas n1  y n3 a la vez
v2[c("n1","n3")]

n1 n3
10 99

In [18]:
# cambiar una entrada de un vector o cambiar un nombre
# Ej. Modificar el elmento de  pos 1 , por un -100
v2[1] <- -100

In [19]:
v2

  n1   n2   n3
-100   20   99

In [20]:
# podemos cambiar uno de los nombres (ej, queremos cambiar el tercer nombre del vector v2, por "nombre_3")
names(v2)[3] <- "nombre_3"
#names(v2[3]) <- "nombre_3" # NO!! pues se modifica el nombre de v2[3], no de v2 (en pos 3)

In [21]:
v2

      n1       n2 nombre_3
    -100       20       99

In [22]:
# podemos modificar varias posiciones a la vez
# queremos re-asignar los valores de las posiciones 2 y 3, por -30 y - 40 respecivamente
v2[2:3] <- c(-30, -40) # otra opción es v2[c(2,3)] <- c(-30,-40)

In [23]:
v2

      n1       n2 nombre_3
    -100      -30      -40

**Algunas sentencias de utilidad**

También es posible acceder a los alementos de un vector mediante sentencias lógicas que retornen "TRUE" en la posición deseada. Para ello algunas funciones que son de utilidad son las siguientes.

   **Conectores lógicos**

    &,                   : conector y
    |,                     : conector o
    ==                       : igual
    !                        : negación
    !=                       : distinto
    >, >=                    : mayor que, mayor o igual que
    <,<=                     : menor que, menor o igual que
    is.na()                  : es NA?
    which()                  : en qué posición es verdadera la expresión evaluada?
    which.min(), which.max() : en qué posición se alcanza el mínimi/máximo
    %in%                     : los elementos están en?

In [24]:
v1

[1] 1 1 2 3 5 8

In [25]:
v1 == 3

[1] FALSE FALSE FALSE  TRUE FALSE FALSE

In [26]:
v1 >= 3

[1] FALSE FALSE FALSE  TRUE  TRUE  TRUE

In [27]:
# para acceder a elementos de un vector tenemos:
# 1. por posicion
# 2. por nombre
# 3. por indicatrices lógicas (un vector con TRUE (T) o FALSE (F) del mismo largo del que quiero consultar)

# de v1 me gustaría rescatar las pos 3,5, y 6

ind <- c(F,F,T,F,T,T) # del mismo largo que v1 y con TRUE's en las posiciones deseadas.
ind

v1[ind]

[1] FALSE FALSE  TRUE FALSE  TRUE  TRUE

[1] 2 5 8

In [28]:
# Esto facilita la búsqueda dentro de un un vector. Ej: retornar los elementos mayores aun valor dado
v1[v1 >= 3]

[1] 3 5 8

In [29]:
# con esta idea en mente podríamos, por ejemplo, rescatar las edades con valor mayor o igual a 18 años
set.seed(2023)
edades <- rnorm(15, mean = 25, sd = 5)

In [30]:
edades # Qué edades hay entre estas 15 que son mayores a 25.

 [1] 24.58108 20.08528 15.62466 24.06928 21.83257 30.45399 20.43136 30.00820
 [9] 23.00367 22.65938 26.63481 22.93627 27.81018 28.31679 21.98551

In [31]:
edades[edades > 25]

[1] 30.45399 30.00820 26.63481 27.81018 28.31679

In [32]:
# podríamos guardar el vector de T o F's en una variable para luego referenciarla
indicatriz <- edades > 25
indicatriz

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE  TRUE FALSE FALSE  TRUE FALSE
[13]  TRUE  TRUE FALSE

In [33]:
edades[indicatriz]

[1] 30.45399 30.00820 26.63481 27.81018 28.31679

In [34]:
edades

 [1] 24.58108 20.08528 15.62466 24.06928 21.83257 30.45399 20.43136 30.00820
 [9] 23.00367 22.65938 26.63481 22.93627 27.81018 28.31679 21.98551

In [35]:
#which() Retorna las posiciones de un vector donde se cumple la expresión dada

which(edades > 25)# son las posiciones donde edades es mayor a 25.

[1]  6  8 11 13 14

In [38]:
#?which.max/min # Retorna la posición donde se alcanza el primer máximo/minimo
#podemos rescatar el valor mediante el índice guardado
which.max(edades)
which.min(edades)

[1] 6

[1] 3

In [40]:
which.max(c(3,-1,4,-1,2,4))
which.min(c(3,-1,4,-1,2,4))

[1] 3

[1] 2

In [41]:
w <- c(3,-1,4,-1,2,4)

In [45]:
sum(w)
mean(w)
max(w)
min(w)
sd(w)

[1] 11

[1] 1.833333

[1] 4

[1] -1

[1] 2.316607

In [46]:
which(w == max(w))# Alternativa para encontrar los dos máximos.

[1] 3 6

In [47]:
# Operador %in%
# vector_a %in% vector_b (qué elementos del vector a están en el vector b)
# retorna un  vector de TRUE's y FALSE's del largo del primer vector(a) (izquierda)

c(1,4,6) %in% c(5,4,7,1)

[1]  TRUE  TRUE FALSE

In [51]:
letras <- LETTERS[5:15]

In [55]:
consulta <- letras %in% c("A","F","J","K","I","O","P")

In [56]:
letras[consulta]

[1] "F" "I" "J" "K" "O"

In [62]:
# podemos utilizar la función all() para evaluar si todos los elementos de un vector son TRUE.

all(c(T,F,T))
all(c(T,T,T))
ejem <- c(T,F,T)

[1] FALSE

[1] TRUE

In [ ]:
# NOTA:
# podemos determinar el largo de un vector mediante la función length()

In [68]:
length(which(ejem == TRUE)) == length(ejem) # No todos son T.

[1] FALSE

In [70]:
T + T + F

[1] 2

In [72]:
sum(ejem) == length(ejem) # No todos son T.

[1] FALSE

In [73]:
all(ejem)

[1] FALSE

## NOTA:
Podemos evaluar las expresiones contrarias a una dada, sinmplemente negando la expresiòn original con "!".

In [75]:
!(T|F) # !T&!F = F&T

[1] FALSE

In [78]:
all(edades > 1)
all(!(edades > 1)) # all(edades <= 1)

[1] TRUE

[1] FALSE

In [ ]:
# si quisiéramos evaluar que todos los elementos de la izq. estén en la derecha,
# podemos utilizar la función all().
all(letras %in% c("A","F","J","K","I","O","P"))

In [80]:
# aritmética con vectores
# operación de vectore de igual largo
c(1,2,3) + c(10,20,30)
c(1,2,3) * c(10,20,30)
c(1,2,3) / c(10,20,30)

[1] 11 22 33

[1] 10 40 90

[1] 0.1 0.1 0.1

In [82]:
#Operación  por escalares
2*c(1,2,3)
2+c(1,2,3)

[1] 2 4 6

[1] 3 4 5

In [83]:
#CUIDADO: Si se operan vectores de dstinto largo se reciclan los valores del vector más pequeño
c(1,2,3) + c(10,20)

Warning message in c(1, 2, 3) + c(10, 20):
“longer object length is not a multiple of shorter object length”

[1] 11 22 13

In [86]:
 c(1,2) + edades

Warning message in c(1, 2) + edades:
“longer object length is not a multiple of shorter object length”

 [1] 25.58108 22.08528 16.62466 26.06928 22.83257 32.45399 21.43136 32.00820
 [9] 24.00367 24.65938 27.63481 24.93627 28.81018 30.31679 22.98551

In [85]:
c(1,2,3,4,5,6) + c(10,20,30)

[1] 11 22 33 14 25 36

In [87]:
c(10,20,30) + c(1,2,3,4,5,6)

[1] 11 22 33 14 25 36

**Secuencias**

En R es posible generar de manera rápida y sencilla algunas secuencias numéricas y almacenarlas en un vector.

Ejemplo de estas funciones son :

    rep()
    seq()
    
Más adelante veremos como generar números aleatorios siguiendo alguna función de distribución de interés.

In [90]:
# a vimos que fácilmente ppodemos generar vectores de enteros consecutivos vía ":"
4:15

 [1]  4  5  6  7  8  9 10 11 12 13 14 15

In [93]:
# ejemplo de función seq (utilice argumento by, y otro ejemplo con argumento length.out)
seq(from = 1, to = 3, by = 0.5)
seq(1,3,0.5)

[1] 1.0 1.5 2.0 2.5 3.0

[1] 1.0 1.5 2.0 2.5 3.0

In [92]:
seq(from = 1, to = 3, length.out = 20) # podemos controlar el largo del vector resultante con el parámetro length.out

 [1] 1.000000 1.105263 1.210526 1.315789 1.421053 1.526316 1.631579 1.736842
 [9] 1.842105 1.947368 2.052632 2.157895 2.263158 2.368421 2.473684 2.578947
[17] 2.684211 2.789474 2.894737 3.000000

In [95]:
# Ejemplo de secuencia con rep (utilice distintos tipos de datos)
rep(x = c("hola", "soy", "miguel"), times = 3)
rep(c("hola", "soy", "miguel"), 3)

[1] "hola"   "soy"    "miguel" "hola"   "soy"    "miguel" "hola"   "soy"
[9] "miguel"

[1] "hola"   "soy"    "miguel" "hola"   "soy"    "miguel" "hola"   "soy"
[9] "miguel"

In [96]:
rep(x = c("hola", "soy", "miguel"), length.out = 10)

 [1] "hola"   "soy"    "miguel" "hola"   "soy"    "miguel" "hola"   "soy"
 [9] "miguel" "hola"

In [97]:
rep(x = c("hola", "soy", "miguel"), times = 3, each = 2)

 [1] "hola"   "hola"   "soy"    "soy"    "miguel" "miguel" "hola"   "hola"
 [9] "soy"    "soy"    "miguel" "miguel" "hola"   "hola"   "soy"    "soy"
[17] "miguel" "miguel"

In [100]:
# ejemplo de vector aleatorio siguiendo una determinada distribución
# distribución uniforme
runif(10,0,1)

 [1] 0.3402969 0.6685628 0.3842540 0.2351134 0.8884970 0.8014517 0.5964277
 [8] 0.9770177 0.3281050 0.8051800

In [101]:
# distribución normal
edades

 [1] 24.58108 20.08528 15.62466 24.06928 21.83257 30.45399 20.43136 30.00820
 [9] 23.00367 22.65938 26.63481 22.93627 27.81018 28.31679 21.98551

### 3.2 Funciones (primera parte)

#### 3.2.1 Funciones vectorizadas y operaciones con vectores

R es un lenguaje funcional, en el sentido de que prácticamente cada llamada a R corresponde a una función que puede (o no) recibir argumentos de entrada.
Una de las ventajas es que existe una amplia, muy amplia,... verdaderamente amplia!, variedad de funciones disponibles, tanto en las librerías que vienen con la instalación por defecto como las librerías disponibles en CRAN o en toda la comunidad R.

En R, una función $f$ se dice vectorizada si dado un vector $\mathbf{x}=(x_1,x_2,\dots,x_n)$, se tiene que $f(\mathbf{x})=(f(x_1),f(x_2),\dots,f(x_n))$.
Esto hace que, por ejemplo, la aritmética de vectores se más sencilla de implentar y con un menor tiempo de cómputo . Gran parte de las funciones disponibles en la librerías (bibliotecas o *packages*) de R corresponden a funciones vectorizadas.
A modo de ejemplo, a cotinuación se muestran algunas funciones (de las más básicas) aritméticas, y funciones para trabajar con texto:
    
    +,-,*,/
    abs()
    sqrt()
    cos()
    sin()
    tan()
    nchar()
    susbtr()
    grepl()
    gsub()

In [105]:
# 3.2. Funciones (primera parte) ------------
# 3.2.1 Funciones vectorizadas
# Ejemplos básicos de funciones(vectorizadas)
nchar("buenos días")
pal
nchar(pal)

[1] 11

[1] "hola" "soy"  "yo"

[1] 4 3 2

In [ ]:
# funciones para manipular texto
 #cantidad de caracteres

In [107]:
# substring substr()
substr("buenos días", 3,6)
substr(pal, 3,6)

[1] "enos"

[1] "la" "y"  ""

In [111]:
# grepl() evlaúa si un  caracter está contenido en otro. (LIKE)
#?grepl()
grepl("ala", "palabra")
grepl("alo", "palabra")


#gsub() reemblaza un substring por otro
#?gsub

# si reemplazamos en un vector de palabras
grepl("ala", c("palabra", "alobra", "alas", "koalas") )

[1] TRUE

[1] FALSE

[1]  TRUE FALSE  TRUE  TRUE

In [ ]:
#gsub() reemplaza caracteres dentro de un texto
#https://www.tidytextmining.com/